<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>app04</display-name>
  <context-param>
    <param-name>a</param-name>
    <param-value>AAA</param-value>
  </context-param>
  <context-param>
    <param-name>b</param-name>
    <param-value>BBB</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.aman.servlet.FirstServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>c</param-name>
      <param-value>CCC</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>d</param-name>
      <param-value>DDD</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.aman.servlet.SecondServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>e</param-name>
      <param-value>EEE</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>f</param-name>
      <param-value>FFF</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
</web-app>